.bigCounter {
    text-align: center;
    background: black;
    margin: 5px;
    height: 135px;
}
.bigCounter div{
    display: inline-flex;
    font-size: 100px;
    line-height: 100px;
    background: #101010;
    color: white;
    padding: 10px;
    margin: 3px;
    margin-left: 30px;
    border: 2px solid #10101010;
    border-radius: 20%;
}
.click {
    text-align: center;
    margin-right: 20px;
    margin-top: 10px;
  }
.label{
    display: inline-flex;
    text-align: center;
    margin-left: 34%;
    margin-top: 10px;
  }
.input {
    border-radius: 10px;
    margin-left: 10px;
  }